<html>
<head>
    <title>Places</title>
</head>
<body>
    <h1>You created a place!</h1>
    <p>{{ newplace.getName }}</p>
    <p><a href='/'>View your list of places you've been.</a></p>
</body>
</html>
