<html>
<head>
    <title>Places</title>
</head>
<body>
    <h1>Places List</h1>
    {% if places is not empty %}
        <p>Here are your places!</p>
        <ul>
            {% for place in places %}
                <li>{{ place.getName }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form action='/places' method='post'>
        <label for='name'>Place Name</label>
        <input id='name' name='name' type='text'>

        <button type='submit'>Add Place</button>
    </form>
    <form action='/delete_places' method='post'>
        <button type='submit'>Clear</button>
    </form>

</body>
</html>
